[buildout]
develop = .
parts = test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
versions = versions
extensions =
   buildout.dumppickedversions

[versions]
megrok.pagetemplate = 0.7

[test]
recipe = zc.recipe.testrunner
eggs = zeam.utils.batch [test]
defaults = ['-v', '-c', '-s', 'zeam.utils.batch']
